.nav-bar-links a {
  padding: 1vw;
}
.google-icon {
  width: 7vw;
}
.container-login{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.google-oauth{
  margin-bottom: 5vh;
  
}
form input {
  margin: 1vh 0;
}
form button {
  margin-left: 37%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.nav-bar-logo {
  font-family: 'Nerko One', cursive;
  font-size: 2rem;
  color: #9BBBDF;
  margin-top: -2vh;  
} 
