.nav-bar-links a {
  padding: 1vw;
  color: black;
}

#nav-id {
  background-color: white; opacity: 0.9; filter: alpha(opacity=0);
}

#nav-id2 {
  background-color: #FFFFFF; opacity: 0.9; filter: alpha(opacity=50);
}

.google-icon {
  width: 7vw;
 
}

.container-login {
 margin-bottom: 5rem !important;
 
}
#login-btn-google {
  font-size: 20px!important;
  position: relative !important;
  align-items: center !important;
  left: 2rem !important;
  bottom: 0.5rem !important;
  width: 8rem !important;

}

#google-btn2 {
  font-size: 20px!important;
  position: relative !important;
  left: 0rem !important;
  width: 14rem !important;
  color: #9BBBDF !important;
}

#google-btn {
  font-size: 20px!important;
  position: relative !important;
  left: 0rem !important;
  width: 14rem !important;
}
.modal-body {
  background-color: #FAFAFA !important;
}

.container-login{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.google-oauth{
  margin-bottom: 5vh;
  
}
form input {
  margin: 1vh 0;
}
form button {
  margin-left: 37%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.nav-bar-logo {
  font-family: 'Nerko One', cursive;
  font-size: 1.5rem;
  color: #9BBBDF;
  margin-top: 0vh;  
  margin-left: 15vh;
} 

.nav-bar-logo-foot {
  font-family: 'Nerko One', cursive;
  font-size: 1.5rem;
  color: #9BBBDF;
  margin-top: 0vh;  
  
}
.searchbar-div {
  position: absolute;
}