
.search{
  display: contents;
  top: 5rem;
  left: 55rem;
  z-index: 11;
  cursor: pointer;
  padding-top: 2vh;
  padding-bottom: -3vh;
  padding-left: 92%;
}
.search svg { 
  width: 1rem;
  position: relative;
  z-index: 1;
  transform: scale(1) translateX(0);
  transition: transform 0.15s linear;
}
.search input {
  position: relative;
  background-color: #FAFAFA;
  width: 13rem;
  height: 1.6rem;
  top: 0.9rem;
  position: absolute;
  right: 32.7rem;
  border-radius: 20px;
  color: #212121;
  padding: 0 3rem 0 1.3rem;
  box-shadow: 11px 15px 16px rgba(0, 0, 0, 0.07);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.15s linear;
}
.search.open svg {
  transform: scale(0.6) translateX(-0.6rem);
}
.search.open input {
  transform: scaleX(1);
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

#btn-fav-nurse {
  position: absolute !important;
  bottom:20px !important;
  left: 5.5rem !important;
}

#btn-fav-nurse2 {
  position: absolute !important;
  bottom:20px !important;
  left: 5.5rem !important;
}
#btn-fav-nurse3 {
  position: absolute !important;
  bottom:20px !important;
  left: 5.5rem !important;
}

#delete-btn {
  position: absolute !important;
  font-size: 0.8rem!important;
  bottom:20px !important;
  left: 2.9rem !important;
}
