.btn {
position: relative !important;
bottom:9vh !important;
width: 20vw !important;
font-size: 2vw ;
left: 3vw !important;
padding: 1vh !important;
margin: 2px !important;
color: black !important;
border: 2px solid black !important;
border-radius: 10px !important;
}

.d-block {
padding: 1vw;
  /* margin-top: 5px;
  margin-right: 50px; */ 
} 

.img-text {
  position: relative;
  bottom:37vh;
  
}